<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Bed Finder</title>
    <link rel="icon" type="image/x-icon" href="/images/logo.png">
</head>
<body>
    <h1>homepage</h1>
    <div id="hospitalsDiv">
        <% hospitals.forEach(hospital => { %>
            <% if (hospital.validated) { %>
                <p> <%= hospital.name %> </p> 
                <p id="<%= hospital._id %>_availableBeds"><%= hospital.availableBeds %> </p>
            <% } %>
        <% }) %>
    </div>

    <a href="javascript:void(0);" onclick="Account();">Account</a>
</body>
<script>
    let baseUrl = window.location.origin;

    function Account(){
        window.location.href = `${baseUrl}/interface/account`;
        return;
    }

    function UpdateHospital(e){
        console.log(`Update received: ${e.data}`);
        const hospitalData = JSON.parse(e.data);

        if (hospitalData.name){

            // Create new hospital entry
            let newHospital = document.createElement('div');
            
            // New hospital name element
            let hospitalName = document.createElement('p');
            hospitalName.innerText = hospitalData.name;
            newHospital.appendChild(hospitalName);
            
            // New hospital available bed count element
            let hospitalAvailableBedCount = document.createElement('p');
            hospitalAvailableBedCount.setAttribute('id', `${hospitalData._id}_availableBeds`);
            hospitalAvailableBedCount.innerText = hospitalData.availableBeds;
            newHospital.appendChild(hospitalAvailableBedCount);

            // Append to list of hospitals
            let hospitalsDiv = document.getElementById("hospitalsDiv");
            hospitalsDiv.appendChild(newHospital);
            return;
        }

        let availableHospitalBed = document.getElementById(`${hospitalData.id}_availableBeds`);
        availableHospitalBed.innerText = parseInt(availableHospitalBed.innerText) + hospitalData.changeValue;
    }

    let hospitalSource = new EventSource(`${baseUrl}/api/streamHospitalUpdates`);
    hospitalSource.onmessage = UpdateHospital;
</script>
</html>