<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Bed Finder</title>
</head>
<body>
    <h1>homepage</h1>

    <% hospitals.forEach(hospital => { %>
        <p> <%= hospital.name %> </p> 
    <% }) %>

    <a href="javascript:void(0);" onclick="Account();">Account</a>
</body>
<script>
    let baseUrl = window.location.origin;

    function Account(){
        window.location.href = `${baseUrl}/interface/account`;
        return;
    }
</script>
</html>